<div class="container">
  <h4 class="ml-4">注文情報入力</h4>
  <h6>支払方法</h6>
  <div class="ml-2">
    <%= form_with model:@order do |f| %>
      <%= form.radio_button :pay, :male %>
      <%= form.radio_button :gender, :female %>
    <% end %>
  </div>
</div>